@model System.Exception
@{
    ViewBag.Title = "AssessmentError";
    Layout = "~/Views/Shared/_LayoutAssessment.cshtml";
}

<div class="main-box clearfix">
    <div class="main-box-body">
        <h1 class="text-danger">Error.</h1>
        <h2 class="text-danger">An error occurred while processing your request.</h2>
    </div>
    @if (Model != null && (HttpContext.Current.IsDebuggingEnabled))
    {
        @Model.Message
        
        <div style="overflow:scroll">
            <pre>
            @Model.GetBaseException().StackTrace
            </pre>
        </div>
    }
</div>