@using PPI.Core.Web.HtmlHelpers
@{
    ViewBag.Title = "AssessCompleted";
    Layout = "~/Views/Shared/_LayoutAssessment.cshtml";
}

<h2>Completed</h2>
<div class="main-box">
    <div class="main-box-body clearfix"> 
        <br />       
            Thank you for completing the J3P assessment.           
        <br />
        <br />            
    </div>
</div>

