<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://70.91.140.124</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>http://70.91.140.124</MSDeployServiceURL>
    <DeployIisAppPath>LVIPOC</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=(local);Initial Catalog=ppi_core_domain_LVI;Integrated Security=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="PPI.Core.Web.Models.ApplicationDbContext, PPI.Core.Web" MigrationConfiguration="PPI.Core.Web.Migrations.Configuration, PPI.Core.Web" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ResidencySelect_Entities" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="PPI.Core.Domain.Entities.ResidencySelect_Entities, PPI.Core.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=(local);Initial Catalog=ppi_core_domain_LVI;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ResidencySelect_Entities-Web.config Connection String" />
  </ItemGroup>
</Project>