<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://residencyselect.ppi360.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>http://204.232.187.200</MSDeployServiceURL>
    <DeployIisAppPath>residencyselect.ppi360.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMSDeployAppOffline>true</EnableMSDeployAppOffline>
    <UserName>534495-Admin</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CoreContainer" Order="1" Enabled="False">
          <Destination Path="Data Source=(local);Initial Catalog=Residency_Select;Integrated Security=True;Application Name=EntityFramework" Name="Data Source=(local);Initial Catalog=Residency_Select;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="PPI.Core.Domain.Entities.CoreContainer, PPI.Core.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=(local);Initial Catalog=Residency_Select;Integrated Security=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="PPI.Core.Web.Models.ApplicationDbContext, PPI.Core.Web" MigrationConfiguration="PPI.Core.Web.Migrations.Configuration, PPI.Core.Web" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CoreContainer-Web.config Connection String">
      <ParameterValue>metadata=res://*/Entities.Core.csdl|res://*/Entities.Core.ssdl|res://*/Entities.Core.msl;provider=System.Data.SqlClient;provider connection string="Data Source=(local);Initial Catalog=Residency_Select;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=(local);Initial Catalog=Residency_Select;Integrated Security=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>