<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PPI.ScheduledEmailJob.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PPI.ScheduledEmailJob.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <connectionStrings>
    <!--<add name="CoreContainer" connectionString="metadata=res://*/Entities.Core.csdl|res://*/Entities.Core.ssdl|res://*/Entities.Core.msl;provider=System.Data.SqlClient;provider connection string='data source=(LocalDb)\v11.0;attachdbfilename=&quot;B:\CMSDATA\Clients\PPI\Sites\RS\ppi.core.web\Main\ppi.core.web\ppi.core.web\App_Data\aspnet-PPI.Core.Web.mdf&quot;;initial catalog=aspnet-PPI.Core.Web;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />-->
    <add name="CoreContainer" connectionString="metadata=res://*/Entities.Core.csdl|res://*/Entities.Core.ssdl|res://*/Entities.Core.msl;provider=System.Data.SqlClient;provider connection string='data source=(LocalDB)\v11.0;attachdbfilename=&quot;D:\Documents\Visual Studio 2013\Projects\ppi.core.web\ppi.core.web\App_Data\aspnet-PPI.Core.Web.mdf&quot;;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <appSettings>
    <!--<add key="exceptionSvcUrl" value="http://exception.perfprog.com/ppiexceptionsvc.asmx"/>-->
    <add key="exceptionSvcUrl" value="http://exception.ppiweb.dev/ppiexceptionsvc.asmx" />
    <add key="senderApp" value="RS-SCHED-LOCAL" />
    <add key="xuser" value="6RmQmzVhy+QN/mVFK7mewOLToZMjLJA1Y+UShQVpptk=" />
    <add key="xpwd" value="+tM/+9ipAYVQ/ry+3ENYRKHARc8StGnyJ3p8K5OhhDk=" />
  </appSettings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
  <applicationSettings>
    <PPI.ScheduledEmailJob.Properties.Settings>
      <setting name="EmailScheduleUser" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="EmailSchedulePwd" serializeAs="String">
        <value>admin123</value>
      </setting>
    </PPI.ScheduledEmailJob.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <PPI.ScheduledEmailJob.Properties.Settings>
      <setting name="EmailScheduleUri" serializeAs="String">
        <value>http://localhost:52400/Emails/ProcessScheduledBatch</value>
      </setting>
    </PPI.ScheduledEmailJob.Properties.Settings>
  </userSettings>
</configuration>