@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "404 Error";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="main-box clearfix">
    <div class="main-box-body">
        <h1 class="text-danger">Page Not Found.</h1>
        <h2 class="text-danger">The page you're looking for wasn't found.</h2>
        </div>    
    
    </div>
