<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PPI.Hogan.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
      <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textLogListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="app.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <applicationSettings>
    <PPI.Hogan.Service.Properties.Settings>
      <setting name="FileMonitorPath" serializeAs="String">
        <value>D:\Hogan\\</value>
      </setting>
      <setting name="Filter" serializeAs="String">
        <value>*.csv</value>
      </setting>
      <setting name="AssessmentsCompletedUri" serializeAs="String">
        <value>http://localhost:52400/Emails/SendCompletedNotification</value>
      </setting>
      <setting name="EmailsControllerUser" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="EmailsControllerPwd" serializeAs="String">
        <value>admin123</value>
      </setting>
    </PPI.Hogan.Service.Properties.Settings>
  </applicationSettings>
  <appSettings>    
    <!--<add key="exceptionSvcUrl" value="http://exception.perfprog.com/ppiexceptionsvc.asmx"/>-->
    <add key="exceptionSvcUrl" value="http://exception.ppiweb.dev/ppiexceptionsvc.asmx"/>
    <add key="senderApp" value="RS-HOGAN-LOCAL"/>
    <add key="xuser" value="6RmQmzVhy+QN/mVFK7mewOLToZMjLJA1Y+UShQVpptk="/>
    <add key="xpwd" value="+tM/+9ipAYVQ/ry+3ENYRKHARc8StGnyJ3p8K5OhhDk="/>
  </appSettings>
  <connectionStrings>    
    <!--<add name="CoreContainer" connectionString="metadata=res://*/Entities.Core.csdl|res://*/Entities.Core.ssdl|res://*/Entities.Core.msl;provider=System.Data.SqlClient;provider connection string='data source=(LocalDb)\v11.0;attachdbfilename=&quot;B:\CMSDATA\Clients\PPI\Sites\RS\ppi.core.web\Main\ppi.core.web\ppi.core.web\App_Data\aspnet-PPI.Core.Web.mdf&quot;;initial catalog=aspnet-PPI.Core.Web;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />-->
    
    <add name="CoreContainer" connectionString="metadata=res://*/Entities.Core.csdl|res://*/Entities.Core.ssdl|res://*/Entities.Core.msl;provider=System.Data.SqlClient;provider connection string='data source=(LocalDB)\v11.0;attachdbfilename=&quot;D:\Documents\Visual Studio 2013\Projects\ppi.core.web\ppi.core.web\App_Data\aspnet-PPI.Core.Web.mdf&quot;;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>